<a style="word-wrap:break-word;color:#005ea5" href="<%= base_url %>/files/confirm/<%= File.basename file_data['file'] %>" target="_blank">
  <%= base_url %>/files/confirm/<%= File.basename file_data['file'] %>
</a>